<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.mapper.DeliveryMapper">
    <select id="selectDeliveryInfoBySeq" resultType="com.shopping.vo.DeliveryInfoVO">
        select * from delivery_info where di_seq=#{seq}
    </select>
</mapper>