<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.mapper.ProductMapper">
    <select id="selectRecommandProducts" resultType="com.shopping.vo.ProductInfoVO">
        select a.* from product_info a inner join recommand b 
        on a.pi_seq = b.reco_pi_seq order by b.reco_seq desc limit 4
    </select>
    <select id="getSellerName" resultType="java.lang.String">
        select si_name from seller_info where si_seq=#{si_seq}
    </select>
    <select id="getProductImageFileName" resultType="java.lang.String">
        select pimg_file_name from prod_image
        where pimg_uri = #{uri}
    </select>
    <select id="selectProductBySeq" resultType="com.shopping.vo.ProductInfoVO">
        select * from product_info where pi_seq=#{seq}
    </select>

    <select id="getCategoryName" resultType="java.lang.String">
        select cate_name from category where cate_seq=#{cate_seq}
    </select>
    <select id="selectProductsByCategory" resultType="com.shopping.vo.ProductInfoVO">
        select * from product_info where pi_cate_seq=#{cate_seq}
    </select>
</mapper>