<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.mapper.CategoryMapper">
    <select id="selectCategories" resultType="com.shopping.vo.CategoryVO">
        select * from category
    </select>
    <select id="selectCategoryName" resultType="java.lang.String">
        select cate_name from category where cate_seq=#{seq}
    </select>
</mapper>