/* assets/css/detail.css */
.detail_container{width: 1050; margin:30px auto; overflow: hidden;}
.img_area {width: 430px; margin-right: 50px;}
.img_area img {width: 100%;}
.text_area {width: 560px;}
.detail_container > div {float: left;}  
.text_area > h2 {font-size: 28px;font-weight: 500;margin-bottom: 40px;}
.text_area > p {font-size: 14px;}
.text_area .price {font-size: 20px;font-weight: 500;}
.text_area .price .discounted {font-size: 28px;}
.text_area .price .discounted_rate {font-size: 28px;color: orangered;}
.origonal_price {color: #999; text-decoration: line-through;}

.detail_info_table {margin-top: 40px; width: 100%; border-bottom: 1px solid #ddd;}
.detail_info_table td:first-child {width: 150px; color: #666;}
.detail_info_table td{padding: 25px 0; font-size: 14px; 
    border-bottom: 1px solid #ddd;}

.purchase_area{margin-top: 20px; text-align: right;}
.total_price span:first-child {font-size: 14px;}
.total_price b {font-size: 28px;font-weight: 500;margin-left: 5px;}
.total_price span:last-child {font-size: 18px; font-weight: 500;}
.total_price {margin-bottom: 10px;}

.save_point {font-size: 14px;}
.save_point span:first-child{font-size: 12px; display: inline-block; padding: 2px 7px;
background-color: #ffbf00; color: #fff; border: 1px solid rgb(211, 199, 29);
border-radius: 99px;
}

.buttons {margin-top: 10px; font-size: 0;}
.buttons button {width: calc(50% - 5px); border: 0; padding: 15px 0; font-size: 18px;
        background-repeat: 5px;color: #fff; background-color: #5f0080; font-size: 500;
        border: 1px solid #5f0080;
}
.buttons #shopping_bag {margin-right: 10px; background-color: #fff; color:#5f0080;}
.buttons #shopping_bag.in {background-color: #5f0080; color: #fff    ;}