h1{font-size: 28px; text-align: center; font-weight: bold; margin: 30px;}
.order_list {width: 1050px; margin: 0 auto;}
.order_item {overflow: hidden; padding: 20px; border: 1px solid #ccc; margin-bottom: 20px; 
    margin: 0 auto; margin-bottom: 20px; background-repeat: 5px; width: 950px;
}
.order_item > div {float: left;}
.item_info img {width: 50px; width: 60px;}
.item_info {overflow: hidden; width: 660px;}
.item_info > * {float: left;}
.order_date {font-size: 20px; margin-bottom: 20px;}
.order_status {font-weight: 500; color: rgb(33, 192, 33);}
.order_status::before {
    content: ","; color: #999; margin: 3px;
}
.item_detail p {font-size: 18px; margin-top: 11px;}
.oredr_bottons {padding:0 20px; border-left: 1px solid #ccc;
    box-sizing: border-box; width: 280px; height: 115px;
}
.oredr_bottons a {color: #333; border: 1px solid #ccc; width: 100%; display: inline-block;
text-align: center; margin: 5px 0; padding: 5px 0;text-decoration: none; font-size: 14px;
}
#delivery_deatil {color: white; background-color: rgb(168, 28, 168);}

.iu {background-color: white;} /*~~~~~~~~~~~~여기 배경 컬러 ~~~~~~~~~~~~~~~~~~*/